.About {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    background-color: rgb(12, 12, 17);
    padding: 8rem 10rem;
    color: white;
}

.about-head {
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    color: white;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.about-box {
    display: grid;
    grid-template-columns: 60fr 40fr;
    background-color: rgb(14, 14, 21);
}

.a-photo {
    width: 300px;
}


.about-box .a-left {
    display: flex;
    flex-direction: column;
    color: #dbdada;
    font-size: 18px;
    line-height: 1.6em;
    letter-spacing: 0.6px;
    padding-left: 50px;
    padding-right: 20px;
}

.a-left h1 {
    margin-bottom: 30px;
}

.about-box .a-right {
    text-align: right;
    padding-right: 50px;
}