.About {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    margin-top: 5rem;
}

.about-header {
    display: flex;
    gap: 5rem;
    font-weight: bold;
    font-size: 3rem;
    justify-content: center;
    color: white;
    text-transform: uppercase;
    font-style: italic;
}

.about-categories {
    display: flex;
    gap: 2rem;
}

.category {
    display: flex;
    flex-direction: column;
    background-color: var(--dark);
    padding: 2rem;
    gap: 1rem;
    color: white;
    flex: 1;
    justify-content: space-between;
}

.about-categories .category span {
    text-transform: capitalize;
}

.about-categories .category .about-img {
    width: 452px;
    height: 237px;
}

.about-img img {
    max-height: 237px;
}

.category> :nth-child(2) {
    font-size: 1.2rem;
    font-weight: bold;
}



.about-categories .category .about-img {
    display: flex;
}

/* Image */
.about-categories .category img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transform: translatex(0px) translatey(0px);
}

/* Image */
.about-categories .category:nth-child(1) img:nth-child(1) {
    margin-right: 50px;
}

.about-categories .category:nth-child(2) img:nth-child(2) {
    height: 170px;
    width: 170px;
    align-self: center;
}


@media screen and (max-width: 767px) {
    .about-header {
        flex-direction: column;
        gap: 1rem;
        font-size: 30px;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;
        text-align: center;
    }

    .about-img {
        /* flex-direction: column; */
    }

    .about-header span {
        width: 55%;
    }

    .about-categories {
        flex-direction: column;
    }
}

@media (max-width:525px) {

    /* About img */
    .about-categories .category .about-img {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: max-content;
        margin-bottom: 50px;
    }

    #about .about-categories .category {
        align-items: stretch;
        align-self: center;
    }

    /* Image */
    .about-categories .category img:nth-child(2) {
        display: none;
    }

    /* Image */
    #carouselExampleControls .carousel-item img {
        height: 173px;
    }

    /* Image */
    .about-categories .category:nth-child(1) .about-img>img:nth-child(1) {
        margin-bottom: 21px;
        margin-right: 0px;
    }

    .about-categories .category span {
        padding-left: 40px;
        padding-right: 40px;
    }

}