.header{
    display: flex;
    justify-content: flex-end;
    margin: 1rem 2rem;
}
.logo {
    width: 6rem;
    height: 6rem;
    position: absolute;
    left: 40px;
}

.header-menu{
    list-style: none;
    display: flex;
    gap: 2rem;
    color:white;
}
.header-menu>li:hover{
    color: var(--red);
    cursor: pointer
}

@media screen and (max-width: 767px) {
    .header>:nth-child(2)
    {
        position: fixed;
        right: 2rem;
        z-index: 99;
    }
    .header-menu{
        flex-direction: column;
        background-color: var(--appColor);
        padding: 2rem;
    }
    .logo{
        width: 4rem;
        height: 4rem;
        top: 10px;
        left: 20px;
    }
}