.Certificates {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(243, 241, 236);
    /* background-color: rgb(234, 237, 240); */
    font-family:monospace;
    padding: 4rem 0;
}

.certif-head {
    font-weight: 600;
    font-size: 3rem;
    justify-content: center;
    color: rgb(120, 111, 99) !important;
    text-transform: uppercase;
}


#carouselExampleIndicators {
    width: 50%;
}

/* Certif head */
.App .Certificates .certif-head {
    margin-bottom: 40px;
}

#carouselExampleIndicators .carousel .carousel-control-next {
    width: 60px;
    height: 40px;
    background-color: #000000;
    border-radius: 50px;
    margin-top: 10px;
}

#carouselExampleIndicators .carousel .carousel-control-prev {
    width: 60px;
    height: 40px;
    background-color: #000000;
    border-radius: 50px;
    margin-top: 10px
}

#carouselExampleIndicators .carousel {
    height: 60px;
}

@media (max-width:525px) {

    .about-categories .category {
        padding-left: 0px;
        padding-right: 0px;
    }

    #carouselExampleIndicators {
        width: 90%;
    }

    .certif-head {
        font-size: 2rem;
    }
}