/* make variables */
:root {
    --gray: #9c9c9c;
    --grey: rgb(25, 28, 31);
    --red: #C61E5B;
    --darkGrey: #464D53;
    --dark: #211e34b6;
    --light: #D5BAC5;
    --mixRed: linear-gradient(210.41deg, #D8055C 1.14%, #262224 100.75%);
    --appColor: #000000;
}

.App {
    background-color: var(--appColor);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

::-webkit-scrollbar {
    display: none;
}

.stroke-text {
    color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-text-stroke: 2px white;
    stroke: 2px black;
    text-shadow: none;
}

.btn {
    background-color: white;
    padding: 0.5rem;
    font-weight: bold;
    border: 4px solid transparent;
    transition: 300ms all;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn:hover {
    cursor: pointer;
}