.App {
    background-color: var(--appColor);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.stroke-text {
    color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-text-stroke: 2px white;
    stroke: 2px black;
    text-shadow: none;
}

.btn {
    background-color: white;
    padding: 0.5rem;
    font-weight: bold;
    border: 4px solid transparent;
    transition: 300ms all;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn:hover {
    cursor: pointer;
}


/* Mobile */
@media (max-width:525px) {

    /* Image */
    #download .right img {
        transform: translatex(0px) translatey(0px);
    }

    /* Programs */
    #programs {
        margin-top: 0px;
        padding-top: 40px;
        padding-bottom: 80px;
    }

    /* Testimonials */
    #root .App .testimonials {
        margin-top: 80px;
        margin-bottom: 0px;
    }

    /* About */
    #about {
        padding-bottom: 69px;
    }

}